body {
  font-family: fantasy;
}

.header {
  color: blue;
  font-style: inherit;
  font-size: 40px;
}

a {
  color: green;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
}

#interactable {
  background-color: chartreuse;
  border: none;
  cursor: pointer;
}

.link {
  color: black;
  font-size: 30px;
}

.link:hover {
  color: red;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  color: black;
  font-size: 20px;
  font-weight: 600;
  border: 3px solid black;
  border-radius: 8px;
  margin: 20px;
  /* margin == отступ со внешней стороны */
  padding: 12px 20px;
  /* padding == отступ с внутренней стороны */
}

.btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
