.container {
  list-style-type: none;
  width: 400px;
  height: 400px;
  display: flex;
  position: relative;
}

.item {
  width: 200px;
  height: 200px;
  position: absolute;
}

.item:nth-child(1) {
  top: 0;
  left: 0;
  background-color: red;
}

.item:nth-child(2) {
  top: 25%;
  left: 25%;
  background-color: blue;
  z-index: 1;
}

.item:nth-child(3) {
  background-color: green;
  bottom: 0;
  right: 0;
}
